md-dialog(aria-label="Add Post Dialog",  ng-cloak)
    form
        md-toolbar
            div(class="md-toolbar-tools")
                h2 Add a post
                span(flex)
                md-button(class="md-icon-button", ng-click="cancel()")
                    md-icon(md-svg-src="img/icons/ic_clear_white_24px.svg", aria-label="Close dialog")
        div(ng-show="obj.flow.isUploading()", layout="row", layout-sm="column", layout-align="center center")
           md-progress-circular(md-mode="indeterminate")
      md-dialog-content(style="max-width:800px;max-height:810px; ")
         div(class="md-dialog-content")
            md-content(layout-padding)
                form(name="userForm")
                    div(layout, layout-sm="row")
                        md-input-container
                            label Author
                            input(ng-model="post.author")
                    div(layout, layout-sm="row")
                        md-input-container(layout-sm="row")
                            label Title
                            input(ng-model="post.title")
                    div(flow-init="config", flow-name="obj.flow", layout, layout-sm="row")
                        md-input-container
                            div.drop(flow-drop, flow-drag-enter="style={border:'4px solid green'}", flow-drag-leave="style={}",
                            ng-style="style")
                                |Drag And Drop your image here
                            img(flow-img="$flow.files[0]",ng-show="$flow.files.length")
                            br
                            div(layout="row")
                                span(flex)
                                md-button(class="md-raised md-warn", ng-click="$flow.files[0].cancel()", ng-show="$flow.files.length")
                                    | Remove
      div(class="md-actions", layout="row")
         span(flex)
         md-button(ng-click="valid()", style="margin-right:20px;")
            |Add