md-dialog(aria-label="Add Post Dialog",  ng-cloak)
    md-toolbar
        div(class="md-toolbar-tools")
            h2 Add a post
            span(flex)
            md-button(class="md-icon-button", ng-click="cancel()")
                md-icon(md-svg-src="img/icons/ic_clear_white_24px.svg", aria-label="Close dialog")
    div(ng-show="showLoading", layout="row", layout-sm="column", layout-align="center center")
       md-progress-circular(md-mode="indeterminate")
    md-dialog-content(style="max-width:800px;max-height:810px; ")
        div(id="dialog_parent",class="md-dialog-content")
            form(name="form",ng-submit="valid(form.$valid)", novalidate)
                md-content(layout-padding)
                    div(layout, layout-sm="row")
                        md-input-container(ng-class="{ 'has-error' : form.author.$invalid && !form.author.$pristine && form.author.$touched }")
                            label Author
                            input.addPostInput(ng-model="post.author", type="text", name="author", ng-required="true", ng-minlength="3", ng-maxlength="30")
                            div(ng-messages="form.author.$error",ng-show="form.author.$touched")
                                p(ng-message="required", class="help-block")
                                    | An Author name is required
                                p(ng-message="minlength", class="help-block")
                                    | Author name is too short
                                p(ng-message="maxlength", class="help-block")
                                    | Author name is too long
                    div(layout, layout-sm="row")
                        md-input-container(layout-sm="row",ng-class="{ 'has-error' : form.title.$invalid && !form.title.$pristine && form.title.$touched }")
                            label Title
                            input.addPostInput(ng-model="post.title", type="text", name="title", ng-required="true",, ng-minlength="5", ng-maxlength="50")
                            div(ng-messages="form.title.$error",ng-show="form.title.$touched")
                                p(ng-message="required", class="help-block")
                                    | A Title is required
                                p(ng-message="minlength", class="help-block")
                                    | Title is too short
                                p(ng-message="maxlength", class="help-block")
                                    | Title is too long
                    div(layout, layout-sm="row")
                        md-input-container
                            div.addPostInput(ngf-drop,ngf-select,ng-model="file", class="drop", ngf-max-size="5MB",ngf-drag-over-class="drag-over",ngf-pattern="image/*")
                                |Drag and drop image here
                            br
                            img(ngf-src="file")
                div(class="md-dialog-actions", layout="row")
                    span(flex)
                    md-button(type="submit", style="margin-right:20px;")
                        |Add