div(layout="column", layout-fill)
    md-toolbar.md-primary
        div(class="md-toolbar-tools")
            h1 Open Image Feed
            span(flex)
            div(ng-if="currentUser") Hello, {{ currentUser.username }}
    div(ng-controller="AddPostCtrl")
        md-content.md-padding.light-grey-background
            section(id="add_post_parent",layout="row")
                md-button(class="md-fab md-primary", aria-label="Refresh", ng-click="updateFeed()")
                    md-icon(md-svg-src="/img/icons/ic_refresh_white_48px.svg")
                    md-tooltip(md-direction="bottom") Refresh feed
                span(flex)
                md-button(class="md-fab md-warn", aria-label="Add post", ng-click="showAddDialog($event)")
                    md-icon(md-svg-src="/img/icons/ic_add_white_48px.svg")
                    md-tooltip(md-direction="bottom") Add a new post
    div(ng-controller="FeedCtrl")
        md-content.md-padding.light-grey-background.card-container
            div(ng-show="showLoading", layout="row", layout-sm="column", layout-align="center center")
                md-progress-circular(md-mode="indeterminate")
            md-card(ng-repeat="post in feed.posts")
                img(ng-src="{{ post.image }}", class="md-card-image", alt="{{ post.title }}")
                md-card-content
                    h2.md-title {{ post.title }}
                    h3.md-subheader {{ post.author }}
                div.md-actions(layout="row",layout-align="end center")
                    md-button(class="md-icon-button", aria-label="Favorite")
                        md-icon(md-svg-icon="/img/icons/ic_mode_comment_white_48px.svg", ng-click="showComments(post)")
                    md-button(class="md-icon-button md-primary", aria-label="Settings")
                        md-icon(md-svg-icon="/img/icons/ic_keyboard_arrow_up_white_48px.svg", ng-click="upvote(post)")
                    md-button(class="md-icon-button md-warn", aria-label="Favorite")
                       md-icon(md-svg-icon="/img/icons/ic_keyboard_arrow_down_white_48px.svg", ng-click="downvote(post)")
            br
