div(ng-controller="HomeController as HomeVM",layout="column", layout-fill)
    md-toolbar.md-primary.fixed
        div(class="md-toolbar-tools")
            h1 Open Image Feed
            span(flex)
            div(ng-if="HomeVM.auth.currentUser") Hello {{ HomeVM.auth.currentUser.username }}
    div(id="toast-parent")
    include ./menu
    md-sidenav(id="activity-sidenav",class="md-sidenav-left md-whiteframe-z2", md-component-id="left", md-is-locked-open="$mdMedia('gt-md')")
        md-toolbar(class="md-theme-indigo")
            div.md-toolbar-tools
                h2(class="md-toolbar-tools") Activity Feed
                span(flex)
                md-button.md-icon-button(aria-label="Refresh",ng-click="HomeVM.updateActivities()")
                    md-icon(md-svg-icon="/img/icons/ic_refresh_white_48px.svg")
                    md-tooltip(md-direction="bottom") Refresh Activity Feed
        include activities/activity_feed
    div(id="feed-container")
        include posts/posts_feed
