md-content(layout-padding, ng-controller="ActivityController as ActivityVM",ng-cloak)
   md-list(infinite-scroll='ActivityVM.loadMore()', infinite-scroll-distance='1')
      md-list-item(ng-repeat="activity in ActivityVM.model.activities",class="md-3-line")
         div(class="md-list-item-text", ng-switch on="activity.type")
            h3 {{ activity.author.username }}
            p(ng-switch-when="POST")
               | {{ activity.createdAt | date : 'Le dd/MM à HH:mm' }} -  has posted
               br
               strong {{activity.post.title}}
            p(ng-switch-when="COMMENT")
               | {{ activity.createdAt | date : 'Le dd/MM à HH:mm' }} - has commented
               br
               strong {{activity.post.title}}
            p(ng-switch-when="UPVOTE")
               | {{ activity.createdAt | date : 'Le dd/MM à HH:mm' }} - has upvoted
               br
               strong {{activity.post.title}}
            p(ng-switch-when="DOWNVOTE")
               | {{ activity.createdAt | date : 'Le dd/MM à HH:mm' }} - has downvoted
               br
               strong {{activity.post.title}}
         md-divider
   md-button(ng-click="close()", class="md-primary", hide-gt-md)
      | Close Activity Feed
