doctype html
html(ng-app="openImageFeed",lang="fr")
  head
    meta(charset='UTF-8')
    base(href='/')
    title Open Image Feed
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/components-font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bower_components/angular-material/angular-material.css')
    link(rel='stylesheet', href='/css/app.css')
  body.light-grey-background
    block body
