html,body{
    height: 100%;
}
md-toolbar{
    z-index : 25;
}
.light-grey-background{
    background-color: #f2f2f2 !important;
}
.drop{
    padding: 15px;
    border: 3px #f1f1f1 dashed;
    border-radius: 5px;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    font-weight: 300;
}
.dragover{
    border: 3px #4caf50 dashed;
}

.addPostInput, .signinInput{
    min-width: 400px;
}
.addCommentInput{
    min-width: 660px;
}
.card-container{
    width : 800px;
    margin : auto;
}
md-card{
    padding: 20px 20px 0 20px;
}
#dialog_parent, #add_post_parent{
    position: relative;
}
md-icon svg {
    fill: inherit;
}
.list-comments{
    display : block;
    transition: 0.8s;
    max-height: none;
}
.list-comments.hidden{
    max-height: 0;
}
#header{
    position : fixed;
}
#feed-container{
    margin-top : 60px;
    margin-left: 300px;
}
.fixed{
    position : fixed;
}
#custom-fab-speed{
    top:80px;
    position: fixed;
    z-index: 50;
}
md-fab-speed-dial .md-button.md-fab md-icon{
    color : rgb(88,88,88);
}
#toast-parent{
    position:fixed;
    top:80px;
    left:304px;
    height: 50px;
    width: 50px;
    z-index: 85;
}
#activity-sidenav{
    position: fixed;
    top:80px;
    z-index: 2;
}

@media screen and (max-width: 1100px) {
    .addCommentInput{
        min-width: 560px;
    }
    .card-container{
        width : 700px;
    }
}

@media screen and (max-width: 1000px) {
    .addCommentInput{
        min-width: 460px;
    }
    .card-container{
        width : 600px;
    }
}

@media screen and (max-width: 959px) {
    #feed-container{
        margin-left : 0;
    }
    #toast-parent{
        left:0;
    }
}

@media screen and (max-width: 600px) {
    .addCommentInput{
        min-width: 360px;
    }
    .card-container{
        width : 500px;
    }
    #toast-parent{
        width: 300px;
    }
    .addPostInput, .signinInput{
        min-width: 300px;
    }
}

@media screen and (max-width: 500px) {
    .addCommentInput{
        min-width: 260px;
    }
    .card-container{
        width : 400px;
    }
}
