.light-grey-background{
    background-color: #f2f2f2 !important;
}
.drop{
    padding: 15px;
    border: 3px #f1f1f1 dashed;
    border-radius: 5px;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    font-weight: 300;
}
.dragover{
    border: 3px #4caf50 dashed;
}

.addPostInput{
    min-width: 400px;
}
.card-container{
    width : 800px;
    margin : auto;
}
md-card{
    padding: 20px 20px 0 20px;
}