div(ng-controller="FeedController as FeedVm")
   md-content.md-padding.light-grey-background.card-container
      div(ng-show="FeedVm.showLoading", layout="row", layout-sm="column", layout-align="center center")
         md-progress-circular(md-mode="indeterminate")
      div(infinite-scroll='FeedVm.loadMore()', infinite-scroll-distance='1')
         md-card(ng-repeat="post in FeedVm.model.posts", ng-controller="PostController as PostVm")
            img(ng-src="{{ post.image }}", class="md-card-image", alt="{{ post.title }}")
            md-card-content
               h2.md-title {{ post.title }}
               h3.md-subheader {{ post.author.username }}
            div.md-actions(layout="row",layout-align="end center")
               |{{ post.comments.length }}
               md-button(class="md-icon-button", aria-label="Favorite", ng-click="PostVm.toggleComments(post)")
                  md-icon(md-svg-icon="/img/icons/ic_mode_comment_white_48px.svg")
               |{{ post.upvotes.length }}
               md-button(class="md-icon-button md-primary", aria-label="Settings", ng-click="PostVm.upvote(post)")
                  md-icon(md-svg-icon="/img/icons/ic_keyboard_arrow_up_white_48px.svg")
               |{{ post.downvotes.length }}
               md-button(class="md-icon-button md-warn", aria-label="Favorite", ng-click="PostVm.downvote(post)")
                  md-icon(md-svg-icon="/img/icons/ic_keyboard_arrow_down_white_48px.svg")
            include comments_list