form(name="form_signup",ng-submit="validSignup(form_signup.$valid)", novalidate)
    md-content(layout-padding)
        div(layout, layout-sm="row")
            md-input-container(ng-class="{ 'has-error' : form_signup.username.$invalid && !form_signup.username.$pristine && form_signup.username.$touched }")
                label Username
                input.signinInput(ng-model="credentials.username", type="text", name="username", ng-required="true", ng-minlength="3", ng-maxlength="30")
                div(ng-messages="form_signup.username.$error",ng-show="form_signup.username.$touched")
                    p(ng-message="required", class="help-block")
                        | Username is required
                    p(ng-message="minlength", class="help-block")
                        | Username is too short
                    p(ng-message="maxlength", class="help-block")
                        | Username is too long
        div(layout, layout-sm="row")
            md-input-container(layout-sm="row",ng-class="{ 'has-error' : form_signup.password.$invalid && !form_signup.password.$pristine && form_signup.password.$touched }")
                label Password
                input.signinInput(ng-model="credentials.password", type="password", name="password", ng-required="true", ng-minlength="5", ng-maxlength="30")
                div(ng-messages="form_signup.password.$error",ng-show="form_signup.password.$touched")
                    p(ng-message="required", class="help-block")
                        | Password is required
                    p(ng-message="minlength", class="help-block")
                        | Password is too short
                    p(ng-message="maxlength", class="help-block")
                        | Password is too long
        div(layout, layout-sm="row")
            md-input-container(layout-sm="row",ng-class="{ 'has-error' : form_signup.password_confirm.$invalid && !form_signup.password_confirm.$pristine && form_signup.password_confirm.$touched }")
                label Password confirm
                input.signinInput(match="credentials.password",ng-model="credentials.password_confirm", type="password", name="password_confirm", ng-required="true", ng-minlength="5", ng-maxlength="30")
                div(ng-messages="form_signup.password_confirm.$error",ng-show="form_signup.password_confirm.$touched")
                    p(ng-message="required", class="help-block")
                        | Password is required
                    p(ng-message="minlength", class="help-block")
                        | Password is too short
                    p(ng-message="maxlength", class="help-block")
                        | Password is too long
                    p(ng-message="match", class="help-block")
                        | Does not match the previous password
    div(class="md-dialog-actions", layout="row")
        span(flex)
        md-button(type="submit", style="margin-right:20px;")
            | Sign Up